* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Serif", serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
#header {
  background: #fbedda;
  padding: 20px 0;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.links a {
  font-size: 18px;
  color: #021112;
}
.links button {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 12px 20px;
  background: rgba(19, 166, 186, 1);
  border: none;
  border-radius: 8px;
}
.mobile-menu span {
  font-size: 30px;
}
.mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  .mobile-menu {
    display: flex;
  }
  .links {
    display: none;
  }
}
#hero {
  background: #fbedda;
  padding: 50px 0;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittle h1 {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  max-width: 900px;
  padding-top: 100px;
}
.tittle p {
  font-size: 20px;
  color: #677071;
  text-align: center;
  padding-top: 30px;
}
.services {
  width: 1000px;
  height: 180px;
  background: #fff;
  border-radius: 30px;
  padding: 20px 0;
  align-items: center;
  margin-top: 90px;
}

.hero-content img {
  width: 100%;
}
.services a {
  color: var(--black, #021112);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-left: 40px;
}
.services a:focus {
  color: #cccfd0;
  border-bottom: 2px solid #021112;
  padding-bottom: 10px;
}
@media (max-width: 1024px) {
  .tittle h1 {
    font-size: 60px;
    padding-top: 65px;
  }
  .services {
    margin-top: 65px;
  }
}
@media (max-width: 768px) {
  .tittle h1 {
    font-size: 60px;
    padding-top: 35px;
  }
  .services {
    margin-top: 35px;
  }
}
@media (max-width: 480px) {
  .tittle h1 {
    font-size: 40px;
    padding-top: 25px;
  }
  .services {
    margin-top: 25px;
  }
  .tittle p {
    padding-top: 10px;
  }
}
.service-content {
  display: flex;
  align-items: center;
  gap: 6pc;
  margin-left: 2.5pc;
  margin-top: 2pc;
}
.service-content span {
  color: var(--black-shade, #677071);
  font-size: 14px;
  font-weight: 400;
}
ion-icon {
  color: rgba(19, 166, 186, 1);
}
.service-content h2 {
  margin-left: 20px;
  margin-top: 10px;
}
.service-content button {
  color: #fff;
  padding: 20px 40px;
  border-radius: 20px;
  background: #13a6ba;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-left: 60px;
}
.service-content button:hover {
  background: #021112;
}
@media (max-width: 1024px) {
  .services {
    width: 950px;
    justify-content: space-around;
    height: 230px;
    font-size: 24px;
  }
  .services a {
    font-size: 30px;
  }
  .service-content {
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 30px;
  }
  .ion-1 {
    position: absolute;
    margin-left: -450px;
  }
  .ion-3 {
    margin-left: 450px;
  }
  .ion-2 {
    position: absolute;
    margin-left: -10px;
  }
  .service-content button {
    position: absolute;
    margin-top: 20px;
    margin-left: 920px;
  }
}
@media (max-width: 768px) {
  .services {
    width: 650px;
    justify-content: space-around;
    height: 170px;
    font-size: 16px;
  }
  .services a {
    font-size: 16px;
  }
  .service-content {
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 30px;
  }
  .ion-1 {
    position: absolute;
    margin-left: -410px;
  }
  .ion-2 {
    margin-left: 10px;
  }
  .ion-3 {
    margin-left: 420px;
  }
  .service-content button {
    position: absolute;
    margin-top: -60px;
    margin-left: 400px;
    padding: 12px 30px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .services {
    width: 450px;
    justify-content: space-around;
    height: 430px;
  }
  .service-content {
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 30px;
  }
  .ion-1 {
    margin-left: 10px;
  }
  .ion-3 {
    margin-top: 160px;
    margin-left: 10px;
  }
  .ion-2 {
    position: absolute;
    margin-left: 420px;
    margin-top: 70px;
  }
  .service-content button {
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
  }
}
